.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.address {
    font-style: normal;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
}

ul,
ol {
    margin: 0px;
    padding: 0px;
}

textarea {
    resize: none;
}
