// FONTS
//  main-font
$main-font: "DM Sans", sans-serif;
// secondary-font
$secondary-font: "Titan One", cursive;

// TEXT-COLOR
// priority-text-color
$priority-text-color: #000000;
// secondary-text-color
$secondary-text-color: #ffffff;
// auxiliary-text-color
$auxiliary-text-color: #907e82;

// BACKGROUND-COLOR
// priority-background-color
$priority-background-color: #ffffff;
// secondary-background-color
$secondary-background-color: #fff5f6;

// ACCENT-COLOR
// priority-accent-color
$accent-color: #d41443;
// secondary-accent-color
$auxiliary-color: #ffa5ba;

// BTN-COLOR
$btn-color: #d41342;
