<footer class="footer">
  <div class="container">
    <div class="footer__text">
      <p class="footer-text__suptitle section-suptitle">homemade ice cream made</p>
      <p class="foote-text__title section-title">with passion</p>
    </div>
    <div class="footer__contacts-link">
      <ul class="footer-contacts-link__list list">
        <li class="footer-contacts-link__item">
          <a class="footer-contacts-link__link link" href="https://github.com" target="_blank">
            <svg class="footer-contacts-link__icon" width="20" height="20">
              <use href="./images/sprite.svg#icon-cat"></use>
            </svg>
          </a>
        </li>

        <li class="footer-contacts-link__item">
          <a
            class="footer-contacts-link__link link"
            href="https://web.telegram.org/#/login"
            target="_blank"
          >
            <svg class="footer-contacts-link__icon" width="20" height="20">
              <use href="./images/sprite.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>

        <li class="footer-contacts-link__item">
          <a
            class="footer-contacts-link__link link"
            href="https://www.facebook.com"
            target="_blank"
          >
            <svg class="footer-contacts-link__icon" width="20" height="20">
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>

      <p class="footer-contacts__text">
        Feel free to contact
        <a class="footer-contacts__tel link" href="tel:+610383766284"> +61 (0) 383 766 284 </a>
      </p>
    </div>
  </div>
  <div class="copyright">
    <p class="copyright__text">&#169; 2019 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
