<footer class="footer">
  <div class="container">
    <div class="footer__text">
      <p class="footer-text__suptitle section-suptitle">homemade ice cream made</p>
      <p class="foote-text__title section-title">with passion</p>
    </div>
    <div class="footer__contacts">
      <ul class="footer-contacts__list list">
        <li class="footer-contacts__item">
          <a class="footer-contacts__link link" href=""> </a>
        </li>

        <li class="footer-contacts__item">
          <a class="footer-contacts__link link" href=""> </a>
        </li>

        <li class="footer-contacts__item">
          <a class="footer-contacts__link link" href=""> </a>
        </li>
      </ul>

      <p>Feel free to contact <a href="tel:+610383766284">+61 (0) 383 766 284</a></p>
    </div>
  </div>
</footer>
