<!-- <section class="gallery">
  <h2 class="visually-hidden">Gallery</h2>
  <picture class="gallery__picture">
    <source
      srcset="
        ./images/gallery/laptop/collage@1x.webp 1x,
        ./images/gallery/laptop/collage@2x.webp 2x
      "
      media="(min-width:1280px)"
      type="image/webp"
    />
    <source
      srcset="./images/gallery/laptop/collage@1x.png 1x, ./images/gallery/laptop/collage@2x.png 2x"
      media="(min-width:1280px)"
    />

    <source
      srcset="
        ./images/gallery/tablet/collage@1x.webp 1x,
        ./images/gallery/tablet/collage@2x.webp 2x
      "
      media="(min-width:768px)"
      type="image/webp"
    />
    <source
      srcset="./images/gallery/tablet/collage@1x.png 1x, ./images/gallery/tablet/collage@2x.png 2x"
      media="(min-width:768px)"
    />

    <source
      srcset="
        ./images/gallery/mobile/collage@1x.webp 1x,
        ./images/gallery/mobile/collage@2x.webp 2x
      "
      media="(min-width:320px)"
      type="image/webp"
    />
    <source
      srcset="./images/gallery/mobile/collage@1x.png 1x, ./images/gallery/mobile/collage@2x.png 2x"
      media="(min-width:320px)"
    />

    <img class="gallery__img" src="./images/gallery/laptop/collage@1x.png" alt="" />
  </picture>
</section> -->
<section class="gallery">
  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <ul class="gallery__list list">
      <div class="gallery__img-box">
        <li class="gallery__item">
          <div class="individual-unit">
            <picture class="gallery__picture">
              <source
                srcset="
                  ./images/gallery/collage/pic1.png    1x,
                  ./images/gallery/collage/pic1@2x.png 2x
                "
              />
              <img src="./images/gallery/collage/pic1.png" alt="" />
            </picture>
          </div>
        </li>
      </div>

      <div class="gallery__img-box">
        <li class="gallery__item">
          <div class="individual-unit">
            <picture class="gallery__picture">
              <source
                srcset="
                  ./images/gallery/collage/pic2.png    1x,
                  ./images/gallery/collage/pic2@2x.png 2x
                "
              />
              <img src="./images/gallery/collage/pic2.png" alt="" />
            </picture>
          </div>
        </li>

        <li class="gallery__item">
          <div class="individual-unit">
            <picture class="gallery__picture">
              <source
                srcset="
                  ./images/gallery/collage/pic3.png    1x,
                  ./images/gallery/collage/pic3@2x.png 2x
                "
              />
              <img src="./images/gallery/collage/pic3.png" alt="" />
            </picture>
          </div>
        </li>
      </div>

      <div class="gallery__img-box">
        <li class="gallery__item">
          <div class="individual-unit">
            <picture class="gallery__picture">
              <source
                srcset="
                  ./images/gallery/collage/pic4.png    1x,
                  ./images/gallery/collage/pic4@2x.png 2x
                "
              />
              <img src="./images/gallery/collage/pic4.png" alt="" />
            </picture>
          </div>
        </li>

        <li class="gallery__item gallery__item--max-width">
          <div class="individual-unit">
            <picture class="gallery__picture">
              <source
                srcset="
                  ./images/gallery/collage/pic5.png    1x,
                  ./images/gallery/collage/pic5@2x.png 2x
                "
              />
              <img src="./images/gallery/collage/pic5.png" alt="" />
            </picture>
          </div>
        </li>
      </div>

      <div class="gallery__img-box">
        <li class="gallery__item">
          <div class="individual-unit">
            <picture class="gallery__picture">
              <source
                srcset="
                  ./images/gallery/collage/pic6.png    1x,
                  ./images/gallery/collage/pic6@2x.png 2x
                "
              />
              <img src="./images/gallery/collage/pic6.png" alt="" />
            </picture>
          </div>
        </li>

        <li class="gallery__item">
          <div class="individual-unit">
            <picture class="gallery__picture">
              <source
                srcset="
                  ./images/gallery/collage/pic7.png    1x,
                  ./images/gallery/collage/pic7@2x.png 2x
                "
              />
              <img src="./images/gallery/collage/pic7.png" alt="" />
            </picture>
          </div>
        </li>
      </div>

      <div class="gallery__img-box">
        <li class="gallery__item">
          <div class="individual-unit">
            <picture class="gallery__picture">
              <source
                srcset="
                  ./images/gallery/collage/pic8.png    1x,
                  ./images/gallery/collage/pic8@2x.png 2x
                "
              />
              <img src="./images/gallery/collage/pic8.png" alt="" />
            </picture>
          </div>
        </li>

        <li class="gallery__item">
          <div class="individual-unit">
            <picture class="gallery__picture">
              <source
                srcset="
                  ./images/gallery/collage/pic9.png    1x,
                  ./images/gallery/collage/pic9@2x.png 2x
                "
              />
              <img src="./images/gallery/collage/pic9.png" alt="" />
            </picture>
          </div>
        </li>
      </div>

      <div class="gallery__img-box">
        <li class="gallery__item">
          <div class="individual-unit">
            <picture class="gallery__picture">
              <source
                srcset="
                  ./images/gallery/collage/pic99.png    1x,
                  ./images/gallery/collage/pic99@2x.png 2x
                "
              />
              <img src="./images/gallery/collage/pic99.png" alt="" />
            </picture>
          </div>
        </li>
      </div>
    </ul>
  </div>
</section>
