<section class="hero-section">
  <div class="container">
    <h1 class="hero-section__title">
      ice cream <br />
      made with
      <br />
      <span class="hero-section__title_last-line">passion</span>
    </h1>
    <a href="" class="hero-section__btn-one link">Products</a>
    <a href="" class="hero-section__btn-two link">How it’s made?</a>
    <picture>
      <source
        srcset="
          ./images/hero/tablet/very-big-icecream@1x.png 1x,
          ./images/hero/tablet/very-big-icecream@2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/hero/mobile/very-big-icecream@1x.png 1x,
          ./images/hero/mobile/very-big-icecream@2x.png 2x
        "
        media="(max-width: 767px)"
      />
      <img
        src="./images/hero/mobile/very-big-icecream@1x.png"
        class="hero-img"
        alt="Ice cream image"
      />
    </picture>
    <picture>
      <source
        srcset="
          ./images/hero/tablet/icecream-bcg-img@1x.png 1x,
          ./images/hero/tablet/icecream-bcg-img@2x.png 2x
        "
        media="(min-width:768px)"
      />

      <source
        srcset="
          ./images/hero/mobile/icecream-bcg-img@1x.png 1x,
          ./images/hero/mobile/icecream-bcg-img@2x.png 2x
        "
        media="(max-width:767px)"
      />
      <img
        src="./images/hero/mobile/icecream-bcg-img@1x.png"
        class="hero-img-ellipse"
        alt="Ice cream image"
      />
    </picture>
  </div>
</section>
