.mobile-burger-btn {
  background-color: transparent;
  border: none;
}
.mobile-modal-menu__close-btn {
  position: absolute;
  top: 24px;
  right: 28px;

  border: none;
  cursor: pointer;
  background-color: transparent;
}
.mobile-modal-menu__btn {
  display: block;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;

  border: none;
  cursor: pointer;
  border-radius: 22px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: $accent-color;
  background-color: #ffff;
  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
}
.mobile-modal-menu__btn-text {
  display: inline-block;
  padding-left: 51px;
  padding-right: 51px;
  padding-top: 11px;
  padding-bottom: 11px;
}
.mobile-modal-menu__icon {
  margin-left: 20px;
}


//ABOUT-BTN
.about__btn {
  position: relative;
  padding-left: 50px;
  width: 176px;
  height: 44px;
  left: 50px;
  background: $priority-background-color;
  border-radius: 22px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.3;
  align-items: center;
  text-align: center;
  color: $btn-color;
}

.about__icon {
  margin-left: 20px;
}
.about__btn:hover,
.about__btn:focus {
  background-color: $accent-color;
  color: $priority-background-color;
}

@media screen and (min-width: 1200px) {
  .about__btn {
    display: flex;

    align-items: center;
    justify-content: center;

    
.hero-section__btn-one {
  position: absolute;
  top: 317px;
  left: 20px;
  z-index: 2;
  cursor: pointer;

  padding: 7px 14px;
  border-radius: 20px;

  background-color: $accent-color;
  color: $secondary-text-color;
  font-size: 8px;
  line-height: 1.25;
  letter-spacing: 00.015em;

  transition: background-color 250ms linear;

  &:hover,
  &:focus {
    background-color: #c7133e;
  }
}
.hero-section__btn-two {
  position: absolute;
  top: 317px;
  left: 90px;
  z-index: 2;
  cursor: pointer;

  padding: 7px 14px;
  border-radius: 20px;

  background-color: $priority-background-color;
  color: $accent-color;
  font-size: 8px;
  line-height: 1.25;
  letter-spacing: 00.015em;

  transition: background-color 250ms linear;

  &:hover,
  &:focus {
    background-color: #ecebeb;

  }
}
