.mobile-burger-btn {
  background-color: transparent;
  border: none;
}
.mobile-modal-menu__close-btn {
  border: none;
  background-color: transparent;
}
.mobile-modal-menu__btn {
  margin-bottom: 20px;
}
