.mobile-burger-btn {
  background-color: transparent;
  border: none;
  @media screen and (min-width: 768px) {
    position: absolute;
    top: 39px;
    right: 224px;
  }
  @media screen and (min-width: 1280px) {
    display: none;
  }
}
.mobile-modal-menu__close-btn {
  position: absolute;
  top: 28px;
  right: 28px;

  border: none;
  cursor: pointer;
  background-color: transparent;
}
.mobile-modal-menu__btn {
  display: block;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;

  border: none;
  cursor: pointer;
  border-radius: 22px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: $accent-color;
  background-color: #ffff;

  padding-left: 57px;
  padding-right: 57px;
  padding-top: 12px;
  padding-bottom: 12px;
  transition: background-color 250ms linear;
  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
  @media screen and (min-width: 768px) {
    padding-left: 46px;
    padding-right: 45px;
  }

  &_in-header {
    display: none;
    @media screen and (min-width: 768px) {
      display: block;
      position: absolute;
      top: 27px;
      right: 34px;

      padding-left: 33px;
      padding-right: 33px;
    }
    @media screen and (min-width: 1280px) {
      right: 115px;
    }
  }
}

.mobile-modal-menu__icon {
  margin-left: 20px;
}

.hero-section__btn-one {
  //position: absolute;
  //z-index: 2;
  //top: 317px;
  //left: 20px;
  cursor: pointer;

  padding: 7px 14px;
  border-radius: 20px;

  background-color: $accent-color;
  color: $secondary-text-color;
  font-size: 8px;
  line-height: 1.25;
  letter-spacing: 00.015em;

  transition: background-color 250ms linear;
  // @media screen and (min-width: 768px) {
  //   left: 34px;
  //   top: 260px;
  // }

  &:hover,
  &:focus {
    background-color: #c7133e;
  }
}
.hero-section__btn-two {
  //position: absolute;
  //top: 317px;
  //left: 90px;
  //z-index: 2;
  cursor: pointer;

  padding: 7px 14px;
  border-radius: 20px;

  background-color: $priority-background-color;
  color: $accent-color;
  font-size: 8px;
  line-height: 1.25;
  letter-spacing: 00.015em;

  transition: background-color 250ms linear;
  // @media screen and (min-width: 768px) {
  //   left: 108px;
  //   top: 260px;
  // }

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
}
