.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 320px) {
  .container {
    width: 100%;

    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}
