.header-section {
  position: relative;
  z-index: 5;
  margin-top: 6px;
  background-color: transparent;
  .container {
    display: flex;
    justify-content: space-between;
    //width: 100%;
    //max-width: 480px;
  }
}

.mobile-modal-menu {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  height: 100%;
  max-width: 480px;

  /* прячет модальное меню */
  visibility: hidden;
  pointer-events: none;
  transform: translateX(120%);
  /*-------------------------*/
  background-color: #e17992;

  transition: transform 250ms linear, visibility 250ms linear;

  &__list {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28;
    color: $secondary-text-color;
    align-items: center;
  }
  &__item {
    border-top: 1px solid #e18298;
    padding: 14px 0;
    &:hover,
    &:focus {
      color: $accent-color;
    }
    &:last-child {
      border-bottom: 1px solid #e18298;
    }
  }
}
.is-open {
  transform: translateX(0%);
  pointer-events: all;
  visibility: visible;
}
