.products {
  padding-top: 121px;
  padding-bottom: 98px;
  @media screen and(min-width: 768px) {
    padding-bottom: 121px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 127px;
    padding-bottom: 119px;
  }
}

.products__label {
  font-family: $secondary-font;
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  text-transform: uppercase;
  color: $auxiliary-color;
  @media screen and(min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
    margin-bottom: 15px;
  }
  @media screen and( min-width: 1280px) {
    font-size: 30px;
    line-height: 1.33;
  }
}

.products__title {
  font-family: $secondary-font;
  font-size: 34px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $accent-color;
  margin-bottom: 129px;
  @media screen and(min-width: 768px) {
    margin-bottom: 150px;
    font-size: 48px;
    line-height: 1.45;
  }
  @media screen and( min-width: 1280px) {
    margin-bottom: 259px;
    font-size: 58px;
    line-height: 1.13;
  }
}
// list-products
.list-products {
  @media screen and( min-width: 768px) {
    display: flex;
    align-items: center;
    margin-right: -20px;
  }
  @media screen and(min-width: 1280px) {
    margin-right: -23px;
  }
}
@media screen and(min-width: 768px) {
  .list-products__item {
    margin-right: 20px;
    width: calc(100% / 3 - 20px);
  }
}
@media screen and(min-width: 1280px) {
  .list-products__item {
    margin-right: 23px;
    width: calc(100% / 3 - 23px);
  }
}

// List-products-item
.list-products__item {
  position: relative;
  padding-top: 161px;
  padding-bottom: 41px;
  background: #ffb8ca;
  border-radius: 24px;
  @media screen and (max-width: 767px) {
    max-width: 280px;
    max-height: 485px;
    margin-left: auto;
    margin-right: auto;
    &:not(:last-child) {
      margin-bottom: 130px;
    }
  }
  @media screen and(min-width: 768px) {
    padding-bottom: 40px;
    padding-top: 152px;
  }
  @media screen and(min-width: 1280px) {
    padding-top: 163px;
    padding-bottom: 50px;
  }
}

.list-products__item--color-nude {
  background: #f0d1a5;
}
.list-products__item--color-green {
  background: #c2e297;
}

.list-products__title {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $secondary-text-color;
  @media screen and(min-width: 768px) {
    font-size: 20px;
    line-height: 1.15;
  }
  @media screen and(min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
  }
}
.list-products__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  letter-spacing: 0.04em;
  color: $secondary-text-color;
  max-width: 200px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
  @media screen and(min-width: 768px) {
    line-height: 176%;
    margin-bottom: 40px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 176%;
    margin-bottom: 62px;
  }
}
// ice-cream
.list-products__title--ice-cream::before {
  content: '';
  display: block;
  background-image: url(../images/products/mobile/ice-cream@1x.png);
  width: 249px;
  height: 252px;
  position: absolute;
  left: 50%;
  top: -22%;
  transform: translateX(-50%);
  background-repeat: no-repeat;
  background-size: 249px 252px;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .list-products__title--ice-cream::before {
    content: '';
    background-image: url(../images/products/mobile/ice-cream@2x.png);
  }
}
@media screen and(min-width: 768px) {
  .list-products__title--ice-cream::before {
    content: '';
    display: block;
    width: 220px;
    height: 224px;
    background-image: url(../images/products/tablet/ice-cream@1x.png);
    background-size: 220px 224px;
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .list-products__title--ice-cream::before {
      content: '';
      background-image: url(../images/products/tablet/ice-cream@2x.png);
    }
  }
}
@media screen and(min-width: 1280px) {
  .list-products__title--ice-cream::before {
    content: '';
    display: block;
    width: 335px;
    height: 335px;
    background-image: url(../images/products/laptop/ice-cream@1x.png);
    left: 50%;
    top: -33%;
    transform: translateX(-50%);
    background-size: 335px 335px;
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .list-products__title--ice-cream::before {
      content: '';
      background-image: url(../images/products/laptop/ice-cream@2x.png);
    }
  }
}
// Ice-coffee
.list-products__title--ice-coffee::before {
  content: '';
  display: block;
  background-image: url(../images/products/mobile/ice-coffee@1x.png);
  width: 249px;
  height: 252px;
  position: absolute;
  left: 50%;
  top: -22%;
  transform: translateX(-50%);
  background-repeat: no-repeat;
  background-size: 249px 252px;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .list-products__title--ice-coffee::before {
      content: '';
      background-image: url(../images/products/mobile/ice-coffee@2x.png);
    }
  }
}
@media screen and(min-width: 768px) {
  .list-products__title--ice-coffee::before {
    content: '';
    background-image: url(../images/products/tablet/ice-coffee@1x.png);
    width: 220px;
    height: 226px;
    background-size: 220px 226px;
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .list-products__title--ice-coffee::before {
      content: '';
      background-image: url(../images/products/tablet/ice-coffee@2x.png);
    }
  }
}
@media screen and(min-width: 1280px) {
  .list-products__title--ice-coffee::before {
    content: '';
    background-image: url(../images/products/laptop/ice-coffee@1x.png);
    width: 335px;
    height: 335px;
    left: 50%;
    top: -33%;
    transform: translateX(-50%);
    background-size: 335px 335px;
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .list-products__title--ice-coffee::before {
      content: '';
      background-image: url(../images/products/laptop/ice-coffee@2x.png);
    }
  }
}
// Milkshake

.list-products__title--milkshakes::before {
  content: '';
  background-image: url(../images/products/mobile/milk-shakes@1x.png);
  width: 249px;
  height: 252px;
  display: block;
  position: absolute;
  left: 50%;
  top: -22%;
  transform: translateX(-50%);
  background-repeat: no-repeat;
  background-size: 249px 252px;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .list-products__title--milkshakes::before {
    content: '';
    background-image: url(../images/products/mobile/milk-shakes@2x.png);
  }
}
@media screen and(min-width: 768px) {
  .list-products__title--milkshakes::before {
    content: '';
    background-image: url(../images/products/tablet/milk-shakes@1x.png);
    width: 220px;
    height: 226px;
    background-size: 220px 226px;
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .list-products__title--milkshakes::before {
      content: '';
      background-image: url(../images/products/tablet/milk-shakes@2x.png);
    }
  }
}
@media screen and(min-width: 1280px) {
  .list-products__title--milkshakes::before {
    content: '';
    background-image: url(../images/products/laptop/milk-shakes@1x.png);
    width: 335px;
    height: 335px;
    left: 50%;
    top: -33%;
    transform: translateX(-50%);
    background-size: 335px 335px;
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .list-products__title--milkshakes::before {
      content: '';
      background-image: url(../images/products/laptop/milk-shakes@2x.png);
    }
  }
}

// BTN
.list-products__btn {
  cursor: pointer;

  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $secondary-text-color;
  margin: 0 auto;
  padding: 0;
  border: none;
  &__arrow {
    fill: $accent-color;
    display: block;
    margin: 0 auto;
  }
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    transform: scale(1.1);
    background-color: #ecebeb;
  }
}

.list-products__title::after {
  content: '';
  display: block;
  background-image: url(../images/products/buttons.png);
  width: 26px;
  height: 6px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  @media screen and(min-width: 768px) {
    .list-products__title::after {
      margin-bottom: 32px;
    }
  }
}
