.section-suptitle {
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: $auxiliary-color;
}
